@charset "utf-8";
/* CSS Document */

/*Asian-Pacific Association for Biomechanics CSS 2007.10.23*/
/*Resets*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

/*All Main*/
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}
p {
    font-family: "Times New Roman", Times, serif;
    color: #393935;
}
p a{
    font-family: "Times New Roman", Times, serif;
    color: #B0301E;
    text-decoration: none;
    border-bottom: 1px dotted #BBB69F;
}
p a:hover {
    background-color: #F3F2EB;
    border-bottom: 1px solid #BBB69F;
    color: #B0301E;
}
.strong{
	font-weight: bold;
}

/* Main
------------------------------------------------------------------*/
div.wraper {
	width: 880px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.clearing {
    clear: both;
    display: block;
}

/* Header
------------------------------------------------------------------*/
#header_container {
    background: transparent url(../images/bg_header_container.gif) left bottom repeat-x;
    margin: 0;
    padding: 0 0 25px 0;
    position: static;
    height: auto;
}
#nav_container {
	border-top: 3px solid #161515;
	height: 100px;
	background-image: url(../images/bg_nav_container.gif);
	background-repeat: repeat-x;
	background-position: left top;
}


#logo{
	color: #FFFFFF;
	font-family: "Times New Roman", Times, serif;
	height: 73px;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/bg_header.gif);
	background-repeat: no-repeat;
}
#logo h1{
	padding-top: 10px;
	padding-left: 10px;
}
/* Navigation
------------------------------------------------------------------*/
#nav {
	height: 27px;
	position: relative;
	width: 870px;
	top: 0px;
	left: 0px;
	margin-right: 0;
	margin-bottom: 0;
}
#nav li {
    height: 0px;
    display: inline;
    margin: 0;
    padding: 0;
}
/* Active states
------------------------------------------------------------------*/
#nav li a {
	font-size: 12px;
	font-weight: bold;
	letter-spacing: 0;
	line-height: 190%;
	height: 27px;
	color: #DDD9D2;
	text-decoration: none;
	position: absolute;
	display: block;
	
	font-family: "Times New Roman", Times, serif;
	background-image: url(../images/bg_main_nav.gif);
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin-top: 0px;
	text-align: center;
}
#nav li a:hover {
    height: 27px;
    color: #FFF;
    position: absolute;
    text-align: center;
}
/* Link states
------------------------------------------------------------------*/
* html{
filter:expression(document.execCommand("BackgroundImageCache", false, true));
}
#nav li#nav1 a {left: 0px; width: 101px; background-position: 0px 0px; padding-left: 3px;}
#nav li#nav2 a {left: 101px; width: 96px; background-position: -101px 0px;}
#nav li#nav3 a {left: 197px; width: 96px; background-position: -197px 0px;}
#nav li#nav4 a {left: 293px; width: 96px; background-position: -293px 0px;}
#nav li#nav5 a {left: 389px; width: 96px; background-position: -389px 0px;}
#nav li#nav6 a {left: 485px; width: 96px; background-position: -485px 0px;}
#nav li#nav7 a {left: 581px; width: 102px; background-position: -581px 0px;}
#nav li#nav8 a {left: 677px; width: 102px; background-position: -677px 0px;}
#nav li#nav9 a {left: 773px; width: 102px; background-position: -773px 0px;}
/* Hover states
------------------------------------------------------------------*/
#nav li#nav1 a:hover {background-position: 0px -27px;}
#nav li#nav2 a:hover {background-position: -101px -27px;}
#nav li#nav3 a:hover {background-position: -197px -27px;}
#nav li#nav4 a:hover {background-position: -293px -27px;}
#nav li#nav5 a:hover {background-position: -389px -27px;}
#nav li#nav6 a:hover {background-position: -485px -27px;}
#nav li#nav7 a:hover {background-position: -581px -27px;}
#nav li#nav8 a:hover {background-position: -677px -27px;}
#nav li#nav9 a:hover {background-position: -773px -27px;}
/* MAIN CONTENT;
------------------------------------------------------------------*/
#main_container {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
#main {
    background-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    width: 880px;
}

/* LEFT CONTENT
------------------------------------------------------------------*/
#content {
    float: left;
    width: 540px;
    margin: 0 0 35px 0;
}

#content .single p {
	font-size: 75%;
	line-height: 1.5;
	color: #393935;
	margin: 0 0 12px 0;
	font-family: Arial, Helvetica, sans-serif;
}
#content .single p img {
	float: right;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#content .single {
	width: 540px;
	background-color: #FFFFFF;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 15px;
	margin-left: 0;
}
#content .single h2 {
	background: transparent url(../images/bg_h2_big.gif) left center repeat-x;
	display: block;
	font-size: 15px;
	color: #735833;
	text-align: center;
	border-top: 1px solid #D9D5CA;
	border-bottom: 1px solid #D9D5CA;
	height: 22px;
	line-height: 1.4;
	word-spacing: 2px;
	font-weight: bold;
	position: relative;
	font-family: "Times New Roman", Times, serif;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	padding-top: 1px;
	padding-right: 0;
	padding-bottom: 1px;
	padding-left: 0;
}
/* Footer */
#footer_container {
	padding: 0 0 35px 0;
	background-image: url(../images/bg_footer_container.gif);
	background-repeat: repeat-x;
	background-position: left top;
}
#footer {
    margin: 0 auto;
    width: 880px;
}
#top {
	width: 880px;
	height: 10px;
	display: block;
	padding: 0;
	margin-top: 0;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 0;
}
#footer p {
	font-family: "Times New Roman", Times, serif;
	color: #E9E9E9;
	font-size: 12px;
	font-style: italic;
}
#footer p a {
    font-family: "Times New Roman", Times, serif;
    color: #E9E9E9;
    text-decoration: none;
    border-bottom: 1px dotted #BBB69F;
}

#footer p a:hover {
    background-color: #FFFFFF;
    border-bottom: 1px solid #BBB69F;
    color: #B0301E;
}

/* Copyright */
#copyright{
	width: 880px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 0px;
}
#copyright p {
	font-family: "Times New Roman", Times, serif;
	color: #E9E9E9;
	font-size: 12px;
	font-style: italic;
}

/* Catch Copy */
#quote {
    margin: 35px 0 0 0;
    padding: 0;
    height: 140px;
    width: 540px;
    float: left;
    display: block;
}
#quote blockquote {
    margin: 10px 0 0 0;
    text-align: center;
    line-height: 1.3;
    font-style: oblique;
}
#quote blockquote h3 {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 22px;
	color: #5C5336;
	font-style: italic;
}
#quote blockquote p {
font-family: "Times New Roman", Times, serif;
    font-size: 11px;
    margin: 0 0 5px 0;
    line-height: 1.4;
}

#infobox {
	width: 286px;
	height: 160px;
	float: right;
	background-color: transparent;
	background-image: url(../images/infobox_top.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 24px;
	padding-top: 0;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
#infobox_statutes{
	width: 286px;
	height: 160px;
	float: right;
	background-color: transparent;
	background-image: url(../images/infobox_statutes.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 24px;
	padding-top: 0;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
#infobox_scope{
	width: 286px;
	height: 160px;
	float: right;
	background-color: transparent;
	background-image: url(../images/infobox_scope.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 24px;
	padding-top: 0;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
#infobox_news{
	width: 286px;
	height: 160px;
	float: right;
	background-color: transparent;
	background-image: url(../images/infobox_news.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 24px;
	padding-top: 0;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
#infobox_link{
	width: 286px;
	height: 160px;
	float: right;
	background-color: transparent;
	background-image: url(../images/infobox_link.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 24px;
	padding-top: 0;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}
#infobox_contact{
	width: 286px;
	height: 160px;
	float: right;
	background-color: transparent;
	background-image: url(../images/infobox_contact.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	margin-top: 0px;
	margin-right: 6px;
	margin-bottom: 0;
	margin-left: 24px;
	padding-top: 0;
	padding-right: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
}


#infobox img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 100px;
    float: left;
    height: 160px;
}
#infobox_statutes img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 100px;
    float: left;
    height: 160px;
}
#infobox_scope img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 100px;
    float: left;
    height: 160px;
}
#infobox_news img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 100px;
    float: left;
    height: 160px;
}
#infobox_link img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 100px;
    float: left;
    height: 160px;
}
#infobox_contact img {
    margin: 0 10px 0 0;
    padding: 0;
    width: 100px;
    float: left;
    height: 160px;
}
