/*Asian-Pacific Association for Biomechanics CSS 2007.10.23*/

#more {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	float: right;
}
#more ul { 
margin: 0; 
padding :0; 
list-style-type : none; 
}
#more li { 
padding :0; 
margin:0; 
}
#more a {
background-image:url(../images/icon_next.gif); 
text-decoration:none;
background-repeat:no-repeat; 
font-size:x-small;
color:#557;
margin:1px 0px;
}
#more a:hover {
	background-image:url(../images/icon_next.gif);
	text-decoration:none;
	background-repeat:no-repeat;
	font-size:x-small;
	color:#557;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
#more a {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	color: #3366FF;
}

#contests_list {
	width: 308px;
	border: 1px solid #D9D5CA;
	float: right;
	position: relative;
	background-image: url(../images/bg_contents.gif);
	background-repeat: repeat-x;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-bottom: 20px;
}
#contests_list ul {
    padding: 10px 12px 14px 12px;
    text-align: left;
    float: left;
}
#contests_list li {
    padding: 0;
    margin: 0;
    width: 284px;
    display: block;
    float: left;
    position: relative;
}
#contests_list ul li a {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 1.2;
	margin: 0;
	display: block;
	width: 70px;
	float: left;
	padding: 0 3px 0 0;
	position: relative;
	font-style: italic;
}

#contests_list ul li a {
	font-family: "Times New Roman", Times, serif;
	line-height: 1.2;
	border-bottom: 1px dotted #D9D5CA;
	font-size: 75%;
	color: #663300;
	text-decoration: none;
	display: block;
	padding: 7px 0;
	margin: 0;
	width: 100%;
	position: relative;
	float: left;
	font-style: italic;
}
#contests_list ul li a:hover {
    background-color: #F2F1EA;
    border-bottom: 1px dotted #BBB69F;
	color: #B0301E;
}
#contests_list h2 {
	display: block;
	font-size: 13px;
	color: #735833;
	text-align: center;
	border-bottom: 1px solid #D9D5CA;
	padding: 1px 0;
	height: 18px;
	line-height: 1.4;
	word-spacing: 3px;
	font-weight: bold;
	background-color: #ECE9D8;
	background-image: url(../images/bg_h2.gif);
	background-repeat: repeat-x;
	background-position: left center;
}

/*right_contact*/
#contact {
	width: 308px;
	margin: 0;
	float: right;
	position: relative;
	padding-top: 20px;
	padding-bottom: 20px;
}
#contact_list {
	border: 1px solid #D9D5CA;
	width: 308px;
	margin: 0;
	float: right;
	position: relative;
	background-image: url(../images/bg_contents.gif);
	background-repeat: repeat-x;
}


#contact h2 {
	display: block;
	font-size: 13px;
	color: #735833;
	text-align: center;
	border-bottom: 1px solid #D9D5CA;
	padding: 1px 0;
	height: 18px;
	line-height: 1.4;
	word-spacing: 3px;
	font-weight: bold;
	background-color: #ECE9D8;
	background-image: url(../images/bg_h2.gif);
	background-repeat: repeat-x;
	background-position: left center;
}

#contact p {
	font-size: 75%;
	font-style: italic;
	color: #663300;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
	line-height: 140%;
}


#content_statutes {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
}
/*right_contact_02*/
#contact_02 {
	width: 308px;
	margin: 0;
	float: right;
	position: relative;
	padding-top: 0px;
	padding-bottom: 20px;
}
#contact_02_list {
	border: 1px solid #D9D5CA;
	width: 308px;
	margin: 0;
	float: right;
	position: relative;
	background-image: url(../images/bg_contents.gif);
	background-repeat: repeat-x;
}


#contact_02 h2 {
	display: block;
	font-size: 13px;
	color: #735833;
	text-align: center;
	border-bottom: 1px solid #D9D5CA;
	padding: 1px 0;
	height: 18px;
	line-height: 1.4;
	word-spacing: 3px;
	font-weight: bold;
	background-color: #ECE9D8;
	background-image: url(../images/bg_h2.gif);
	background-repeat: repeat-x;
	background-position: left center;
}

#contact_02 p {
	font-size: 75%;
	font-style: italic;
	color: #663300;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
	line-height: 140%;
}


#contact_02_statutes {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-bottom: 10px;
}
/*hosoku*/
.midashi{
	font-size: 75%;
	color: #FF0000;
	font-weight: bold;
}
